---
---

@import "{{ site.theme }}";

body{
  color: #eeeeee;
  background-color: #1c1c1c;
}

h1, h2, h3, h4, h5, h6 {
  #color: #81a2eb;
  #color: #267CB9;
  #color: #afd700;
  #color: #888bbb;
  #color: #267CB9;
  color: #888;
}

a
{
  color: #888ddd;
}

a:hover, a:focus {
  font-weight: inherit;
  #color: #ffffff;
  color: #afd700;
}

strong {
  #color: #eeefff;
  color: #afd700;
}

header h1 a {
  color: #afd700;
}
