---
---

@import "{{ site.theme }}";

body{
  color: #eeeeee;
  background-color: #1c1c1c;
}

h1, h2, h3, h4, h5, h6 {
  color: #888;
  font-weight: bold;
}

h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #ff9434;
}

h2 {
  color: #afd700;
}

a {
  font-weight: inherit;
  color: #afd700;
}

a:hover, a:focus {
  font-weight: inherit;
  color: #ff9434;
}

strong {
  color: inherit;
}

h1 a {
  color: #ff9434;
}

h1 a:hover {
  color: #afd700;
}

code {
  color: #888;
}

.orange {
  color: #ff9434;
}

a.orange {
  color: #ff9434;
}

pre {
  border-color: #000;
  background-color: #2c2c2c;
  color: #afd700;
}

ul.awards li {
   margin: 0;
}

img.logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

#header {
  nav {
    background: none;
    li.badge a {
      border: 0;
      box-shadow: none;
      background: none;
    }
  }
}

section {

  #title {
    margin-bottom: 10px;
    h1 {
      margin-bottom: 20px;
      color: #afd700;
      font-weight: bold;
      a {
        font-weight: bold;
      }
    }
    p {
      color: inherit;
      &.desc {
        font-size: 16px;
      }
    }
  }

  #footer {
    border: 0;
    outline: none;
    padding: 20px 0 5px 0;

    .credits {
      font-size: 11px;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }
  }

  table.menu {
    font-size: 16px;
    margin-bottom: 5px;
    td {
      border: 0;
      text-align: center;
    }
  }
}
