---
---

@import "{{ site.theme }}";

body{
  color: #eeeeee;
  background-color: #1c1c1c;
}

h1 {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: #888;
}

h2 {
  margin-bottom: 30px;
}

a {
  color: #86acd1;
}

a:hover, a:focus {
  font-weight: inherit;
  color: #afd700;
}

strong {
  color: #afd700;
}

header h1 a {
  color: #afd700;
}

code {
  color: #888;
}
