---
layout: default
---

<h1><a href="{{ page.event_url}}">{{ page.event }}</a></h1>

<b>Competing Version:</b> &nbsp;{% if page.version %} {{ page.version }} (<a href="{{ page.binary }}">submitted binary</a>){% else %}<a href="{{ page.binary }}">submitted binary</a>{% endif %}
<br/>
<b>System Description:</b> &nbsp;<a href="{{ page.sysdesc-url }}">{{ page.sysdesc-title }}</a>

<h2>Divisions Entered</h2>
<ul>
{% for track in page.entered %}
{% assign results_url = page.event_url | append: "/" | append: "results/" %}
<li>
  <b>{{ track.name }}:</b> &nbsp;
  {% assign divisions = track.divisions | split: "," %}
  {% assign division_str = "" %}
  <ul class="awards-entered">
  {% for division in divisions %}
  {% assign division_url_str = division | replace: "_", "-" | downcase %}
  {% assign division_url = results_url | append: division_url_str | append: '-' | append: track.track %}
  <li><a href="{{ division_url}}">{{ division }}</a></li>
  {% endfor %}
  </ul>
</li>
{% endfor %}
</ul>

<h2>Division Awards</h2>
{% for track in page.tracks %}
<h3>{{ track.name }}</h3>
<p>
{% assign results_url_base = page.event_url | append: "/" | append: "results/" %}
{% assign results_url = results_url_base | append: "results-" | append: track.track %}
<a href="{{ results_url }}">{{ results_url }}<br/></a>
</p>
<ul class="awards">
{% for medal in track.medals %}
  {% assign division_str = medal.division | replace: "_", "-" | downcase %}
  {% assign division_url = results_url_base | append: division_str | append: '-' | append: track.track %}
  <li class="awards"><span class="orange">{{ medal.place }}<sup>{% if medal.place == 1 %}st{% elsif medal.place == 2 %}nd{% else %}rd{% endif %}</sup></span> place ({% if medal.place == 1 %}gold{% elsif medal.place == 2 %}silver{% else %}bronze{% endif %}) in the <a href="{{ division_url }}">{{ medal.division }}</a> ({% if medal.awards %}{{ medal.awards }}{% else %}<b>all</b>{% endif %})</li>
{% endfor %}
</ul>
{% for mention in track.mentions %}
  <h4>Honorable Mentions:</h4>
  {% assign division_str = mention.division | replace: "_", "-" | replace: "+", "-" | downcase %}
  {% assign division_url = results_url_base | append: division_str | append: '-' | append: track.track %}
  In division <a href="{{ division_url }}">{{ mention.division }}</a>:
  {% for logic in mention.logics %}
  {% assign logic_str = logic.name| replace: "_", "-" | downcase %}
  {% assign logic_url = results_url_base | append: division_str | append: '-' | append: track.track %}
  <br/>
  &nbsp;&nbsp;{% if logic.place == 1 %}<span class="green">{{ logic.place }}<sup>st</sup></span>{% else %}{{ logic.place}}<sup>nd</sup>{% endif %} place in logic <a href="{{ logic_url }}">{{ logic.name }}</a> ({% if logic.awards %}{{ logic.awards }}{% else %}<b>all</b>{% endif %})
  {% endfor %}
{% endfor %}
{% endfor %}


<h2>Competition-Wide Awards</h2>
{% for award in page.overall %}
<h3>{{ award.name }}</h3>
{% if award.tracks %}
<ul class="awards">
{% for medal in award.tracks %}
  {% assign track_url = results_url_base | append: award.award | append: "-" | append: medal.track %}
  <li class="awards"><span {% if medal.place == 1 %}class="orange"{% endif %}>{{ medal.place }}<sup>{% if medal.place == 1 %}st{% elsif medal.place == 2 %}nd{% else %}rd{% endif %}</sup></span> place ({% if medal.place == 1 %}gold{% elsif medal.place == 2 %}silver{% else %}bronze{% endif %}) in the <a href="{{ track_url }}">{{ medal.name }}</a> ({% if medal.awards %}{{ medal.awards }}{% else %}<b>all</b>{% endif %})</li>
{% endfor %}
</ul>
{% endif %}
{% if award.medals %}
<ul class="awards">
{% for medal in award.medals %}
<li>{{ medal.medal }}</li>
{% endfor %}
</ul>
{% endif %}
{% endfor %}
<br/>
<br/>
<br/>
{% if page.img %}<img src="{{ page.img | relative_url }}"/>{% endif %}
