body {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 175%;
}

h2 {
  font-size: 150%;
}

a {
  color: #ff9434;
  text-decoration: none;
}

a:visited {
  color: #ff9434;
}

a:hover, a:focus {
  color: #afd700;
  text-decoration: none;
}

a.anchor {
  color: #ff9434;
}

a.anchor:visited {
  color: #ff9434;
}

a.anchor:hover, a.anchor:focus {
  color: #afd700;
}

p a > code
{
  color: #ff9434;
  text-decoration: none;
}

p a:hover > code
{
  color: #afd700;
  text-decoration: none;
}

p a:focus > code
{
  color: #afd700;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h7, .h8, .h9, .h10 {
  font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}


.content {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
}

.content>header nav {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
}

.toc
{
  background: #343131;
}

.toc:before {
  color: #fff;
  font-size: 120%;
  text-transform: none;
  margin-bottom: 20px
}

.toc ul li a {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  text-decoration: none;
  font-weight: 400;
}

.toc ul li a:hover {
  text-decoration: none;
}

.toc ul li a {
  color: #afd700;
}

.toc a:visited {
  color: #afd700;
}

.toc a:hover, a:focus {
  color: #ff9434;
}

.toc ul ul li a {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  text-decoration: none;
  color: #cecece;
  padding-left: 1em;
}

.toc ul ul li a:visited {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  text-decoration: none;
  color: #cecece;
}

.toc ul ul li a:hover, a:focus {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  text-decoration: none;
  color: #ff9434;
}

.hljs-link {
  text-decoration: none;
}
